<div class="container m-3 flex-column justify-content-center border">
  <h1>Your question: <%= @input %></h1>
  <h1>Coach answer: <%= @reply %></h1>
  <%= link_to "Ask new question", ask_path %>
</div>
