<div class="container-sm d-flex justify-content-center">
  <p class="m-3 p-1">Ask your coach anything</p>
  <form action="/answer" data-turbo="false" class="m-3">
    <input type="text" name="question" class="form-control" >
    <input type="submit" class="btn btn-primary m-3" value="Ask!">
  </form>
</div>
